body {
    font-family: Arial, sans-serif;
    margin: 20px auto; /* Center the body horizontally */
    max-width: 800px; /* Limit the maximum width of the body */
    padding: 0;
    background-color: #f7f7f7; /* Light gray background color */
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 30px; /* Add more space above the heading */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #3498db; /* Đổi màu thành xanh dương (#3498db) */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Đổi shadow thành màu xám nhẹ */
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
